
@{
    ViewData["Title"] = "Index";
}

<section style="width: 100%; height: 615px;" id="slider1">
    <div style="margin-left: 300px; margin-top: 120px;">
        <h1 class="bigfont">Send <span class="redcolor">flowers</span> like <br> you mean it.</h1> <br> <br>
        <h3 class="smallfont">Where flowers are our inspiration to create lasting memories. <br>Whatever the occasion, our flowers will make it special cursus <br> a sit amet mauris </h3> <br> <br> <br>
        <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h2-sign-img.png" alt="">
    </div>
</section>




<section id="tabmenu">
    <div class="container">

        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">All</li>
            <li class="tab-link" data-tab="tab-2">Popular</li>
            <li class="tab-link" data-tab="tab-3">Winter</li>
            <li class="tab-link" data-tab="tab-4">Various</li>
            <li class="tab-link" data-tab="tab-5">Exotic</li>
            <li class="tab-link" data-tab="tab-6">Greens</li>
            <li class="tab-link" data-tab="tab-7">Cactuses</li>
        </ul>

        <div class="tab">
            <div id="tab-1" class="tab-content current">
                <center>
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-14-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Majesty Palm</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-13-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Foxglove Flower</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-10-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Sweet Alyssum</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-11-img.jpg" alt="" width="290" height="376.13"></div> <br>
                        <a href=""><p>Spring Snowflake</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$170</p></a> <br> <br>
                    </div> <br>
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-12-img.jpg" alt="" width="290" height="376.13"></div> <br>
                        <a href=""><p>Scarlet Sage</p> </a>
                        <a href=""><p><span class="scarlet">259$</span> $159</p></a>   <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-9-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Rock Soapwort</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-8-img.jpg" alt="" width="290" height="376.13"></div> <br>
                        <a href=""><p>Summer Savory</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-7-img.jpg" alt="" width="290" height="376.13"></div> <br>
                        <a href=""><p>Wild Roses</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div>
                </center>
            </div>
            <div id="tab-2" class="tab-content">
                <center>
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-14-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Majesty Palm</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-13-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Foxglove Flower</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-10-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Sweet Alyssum</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-11-img.jpg" alt="" width="290" height="376.13"></div> <br>
                        <a href=""><p>Spring Snowflake</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$170</p></a> <br> <br>
                    </div> <br>
                    <div style="margin-right: 1010px;" class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-12-img.jpg" alt="" width="290" height="376.13"></div> <br>
                        <a href=""><p>Scarlet Sage</p> </a>
                        <a href=""><p><span class="scarlet">259$</span> 159$</p></a>   <br> <br>
                    </div>
            </div>

            </center>
        </div>
        <div style="margin-right: 42px;" id="tab-3" class="tab-content">
            <div id="Winter" class="tabcontent">
                <center>
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-14-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Majesty Palm</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-13-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Foxglove Flower</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="cost">
                        <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-10-img.jpg" alt="" width="290" height="376.13"></div><br>
                        <a href=""><p>Sweet Alyssum</p></a>
                        <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                    </div>
                </center>
            </div>
        </div>
        <div style="margin-right: 3px;" id="tab-4" class="tab-content">
            <center>
                <div class="cost">
                    <div class="image1"><div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-9-img.jpg" alt="" width="290" height="376.13"></div></div><br>
                    <a href=""><p>ROCK SOAPWORT</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-8-img.jpg" alt="" width="290" height="376.13"></div><br>
                    <a href=""><p>SUMMER SAVORY</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-7-img.jpg" alt="" width="290" height="376.13"></div><br>
                    <a href=""><p>WILD ROSES</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-6-img.jpg" alt="" width="290" height="376.13"></div> <br>
                    <a href=""><p>COLORFUL TULIPS</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$350</p></a> <br> <br>
                </div> <br>
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-5-img.jpg" alt="" width="290" height="376.13"></div> <br>
                    <a href=""><p>WILD CACTUS</p> </a>
                    <a href=""><p><span class="scarlet">259$</span> $159</p></a>   <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-4-img.jpg" alt="" width="290" height="376.13"></div><br>
                    <a href=""><p>PINK FLOWER TREE</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$180-$350</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-3-img.jpg" alt="" width="290" height="376.13"></div> <br>
                    <a href=""><p>CACTUS IN ORANGE</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-2-img.jpg" alt="" width="290" height="376.13"></div> <br>
                    <a href=""><p>ORANGE AMARYLLIS</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div>
            </center>
        </div>
        <div style="margin-right: 342px;" id="tab-5" class="tab-content">
            <center>
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-7-img.jpg" alt="" width="290" height="376.13"></div><br>
                    <a href=""><p>WILD ROSES</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-6-img.jpg" alt="" width="290" height="376.13"></div> <br>
                    <a href=""><p>COLORFUL TULIPS</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$350</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-2-img.jpg" alt="" width="290" height="376.13"></div> <br>
                    <a href=""><p>ORANGE AMARYLLIS</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div>
            </center>
        </div>
        <div style="margin-right: 342px;" id="tab-6" class="tab-content">
            <center>
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-8-img.jpg" alt="" width="290" height="376.13"></div><br>
                    <a href=""><p>SUMMER SAVORY</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-4-img.jpg" alt="" width="290" height="376.13"></div><br>
                    <a href=""><p>PINK FLOWER TREE</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$180-$350</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-14-img.jpg" alt="" width="290" height="376.13"></div><br>
                    <a href=""><p>SCHEFFLERA</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div>
            </center>
        </div>
        <div style="margin-right: 300px;" id="tab-7" class="tab-content">
            <center>
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-9-img.jpg" alt="" width="290" height="376.13"></div><br>
                    <a href=""><p>ROCK SOAPWORT</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-5-img.jpg" alt="" width="290" height="376.13"></div> <br>
                    <a href=""><p>WILD CACTUS</p> </a>
                    <a href=""><p><span class="scarlet">259$</span> $159</p></a>   <br> <br>
                </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <div class="cost">
                    <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-3-img.jpg" alt="" width="290" height="376.13"> </div><br>
                    <a href=""><p>CACTUS IN ORANGE</p></a>
                    <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
                </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </center>
        </div>
    </div>
</section>








<section id="video">



    <div class="main">
        <div style="padding-bottom: 60px;">
            <div class="photo">
                <div class="image">
                    <a href=""><img style="height: 420px; width: 645px;" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-video-img.jpg" alt=""></a>
                </div>
            </div>



            <div style="padding-top: 30px;">
                <h2 class="words">Suprise Your <span style="color:rgb(238, 30, 15);">Valentine</span>! <br> Let us arrange a smile.</h2>
                <h3 class="words1">Where flowers are our inspiration to create lasting memories. <br> Whatever the occasion...</h3>

                <h3 class="words2"> <img class="heart" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h1-custom-icon.png" alt="">  &nbsp;  Hand picked just for you.</h3>
                <h3 class="words2"> <img class="heart" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h1-custom-icon.png" alt="">  &nbsp;  Unique flower arrangements</h3>
                <h3 class="words2"> <img class="heart" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h1-custom-icon.png" alt="">  &nbsp; Best way to say you care.</h3>
            </div>
        </div>
    </div>


</section>








<section id="Flowerists">

    <div>
        <div class="text">
            <h1 style="padding-left:10px ;">Flower Experts</h1>
            <p>
                A perfect blend of creativity, energy, communication, happiness and love. Let us <br> &nbsp;
                arrange a smile for you.
            </p>
        </div>
    </div>

    <div class="flowerist">
        <div style="float: left;">
            <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-1.png" alt="">
            <p class="name" style="margin-left: 45px; margin-top: 14px;">CRYSTAL BROOKS</p>
            <p class="job" style="margin-left: 80px; margin-top: 3px;">Florist</p>
        </div>
        <div style="float: left;">
            <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-team-img-2.png" alt="">
            <p class="name" style="margin-left: 51px; margin-top: 14px;">SHIRLEY HARRIS</p>
            <p class="job" style="margin-left: 80px; margin-top: 3px;">Manager</p>
        </div>
        <div style="float: left;">
            <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-3.png" alt="">
            <p class="name" style="margin-left: 53px; margin-top: 14px;">BEVERLY CLARK</p>
            <p class="job" style="margin-left: 85px; margin-top: 3px;">Florist</p>
        </div>
        <div>
            <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/h3-team-img-4.png" alt="">
            <p class="name" style="margin-left: 51px; margin-top: 14px;">AMANDA WATKINS</p>
            <p class="job" style="margin-left: 95px; margin-top: 3px;">Florist</p>
        </div>
    </div>

</section>




<section id="FixedImage">
    <div class="stick">
        <center>
            <div class="email">
                <h3>Join The Colorful Bunch!</h3>
                <input type="email" name="" placeholder="Email Address">
                <button>SUBSCRIBE</button>
            </div>
        </center>
    </div>


</section>



<section id="Blogs">
    <div class="blog1">
        <div class="blog5">
            <div class="blog">
                <h1 style="padding-left:180px;">From our Blog</h1>
                <p>
                    A perfect blend of creativity, energy, communication, happiness and love. Let us <br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; arrange a smile for you.
                </p>
            </div>

            <div class="blog4">
                <div class="blog2" style="float: left; margin-left: 170px;">
                    <div class="zooming"><img class="blog3" width="420" height="268" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1.jpg" alt=""></div>
                    <h3 style="margin-top: 20px;">Flower Power</h3>
                    <p style="padding-left: 70px;">
                        Class aptent taciti sociosqu ad litora torquent per <br> &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  conubia nostra, per
                    </p>
                </div>

                <div class="blog2" style="float: left;">
                    <div class="zooming"><img class="blog3" width="420" height="268" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3.jpg" alt=""></div>
                    <h3 style="margin-top: 20px;">Local Florists</h3>
                    <p style="padding-left: 70px;">
                        Class aptent taciti sociosqu ad litora torquent per <br> &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  conubia nostra, per
                    </p>
                </div>

                <div class="blog2" style="float: left;">
                    <div class="zooming"><img class="blog3" width="420px" height="268px" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4.jpg" alt=""></div>
                    <h3 style="margin-top: 20px;">Flower Beauty</h3>
                    <p style="padding-left: 70px;">
                        Class aptent taciti sociosqu ad litora torquent per <br> &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; conubia nostra, per
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="slide">
    <div class="slideshow-container">

        <!-- Sayıya, başlığa sahip full geniş görseller -->
        <div class="mySlides fade">
            <div class="numbertext"></div>
            <center>
                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-2.png">
                <p class="slidedown">Nullam dictum felis eu pede mollis pretium. Integer <br>  tincidunt. Cras dapibus lingua. </p>
                <div style="padding-top: 30px;">
                    <p class="names">ANNA BARNES</p>
                    <p class="profession">Florist</p>
                </div>
            </center>
        </div>

        <div class="mySlides fade">
            <div class="numbertext"></div>
            <center>
                <img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/testimonial-img-1.png">
                <p class="slidedown">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>  Aenean commodo ligula eget.</p>
                <div style="padding-top: 30px;">
                    <p class="names">JASMINE WHITE</p>
                    <p class="profession">Florist</p>
                </div>
            </center>
        </div>



        <!-- Sonraki önceki butonlarımız -->
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
    </div>
</section>

