<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Homepage/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Homepage/slider1/vegas.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
    <title>Fiorella</title>
</head>
<body>
    <header class="head">
        <div class="navbar">
            <div class="Fiorello">
                <a href="C:\Users\cavad\OneDrive\Desktop\Final project\Homepage\index.html"><img style="height: 5 px; height: 25px;" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h2-logo-1.png" alt=""></a>
            </div>
            <nav class="stroke">
                <ul id="menu">
                    <li class="Homeline">
                        <a class='prett' href="#">Home</a>
                        <ul class="menus">
                            <li><a class="dropdown" href="#">Main Home</a></li>
                            <li style="padding-top: 12px;"><a class="dropdown" href="#">Grid Home</a></li>
                            <li style="padding-top: 12px;"><a class="dropdown" href="#">Flower Shop</a></li>
                            <li style="padding-top: 12px;"><a class="dropdown" href="#">Animated </a></li>
                            <li style="padding-top: 12px;;"><a class="dropdown" href="#">Metro </a></li>
                            <li style="padding-top: 12px;"><a class="dropdown" href="#">Carousel </a></li>
                            <li style="padding-top: 12px; padding-bottom: 20px;"><a class="dropdown" href="#">Landing</a></li>
                        </ul>
                    </li>
                    <li>
                        <a a class='prett' href="#">Pages</a>
                        <ul class="menus">
                            <li><a href="">About Us</a></li>
                            <li style="padding-top: 12px;"><a href="">FAQ Page</a></li>
                            <li style="padding-top: 12px; padding-bottom: 20px;"><a href="">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="prett" href="#">Shop</a>
                        <ul class="menus2">
                            <li class='has-submenu'>
                                Product Types
                                <ul class="submenu8">
                                    <li><a href="">Standart Product</a></li>
                                    <li style="padding-top: 12px;"><a href="">Groped Product</a></li>
                                    <li style="padding-top: 12px;"><a href="">Variable Product</a></li>
                                    <li style="padding-top: 12px;"><a href="">Virtual Product</a></li>
                                    <li style="padding-top: 12px;"><a href="">External Product</a></li>
                                    <li style="padding-top: 12px;"><a href="">Down Product</a></li>
                                    <li style="padding-top: 12px;"><a href="">On Sale Product</a></li>
                                    <li style="padding-top: 12px;"><a href="">Stock Product</a></li>
                                    <li style="padding-top: 12px;"><a href="">New Product</a></li>
                                </ul>
                            </li>
                            <li class='has-submenu'>
                                Shop Pages
                                <ul class="submenu9">
                                    <li style="padding-top: 12px;"><a href="">My Account</a></li>
                                    <li style="padding-top: 12px;"><a href="">Cart</a></li>
                                    <li style="padding-top: 12px;"><a href="">Checkout</a></li>
                                    <li style="padding-top: 12px;"><a href="">Orders</a></li>
                                    <li style="padding-top: 12px;"><a href="">Downloads</a></li>
                                </ul>
                            </li>
                            <li class='has-submenu'>
                                Shop Types
                                <ul class="submenu10">
                                    <li style="padding-top: 12px;"><a href="">Product List</a></li>
                                    <li style="padding-top: 12px;"><a href="">Without Sidebar</a></li>
                                    <li style="padding-top: 12px;"><a href="">With Category</a></li>
                                    <li style="padding-top: 12px;"><a href="">With Ordering</a></li>
                                    <li style="padding-top: 12px;"><a href="">Shop Carousel</a></li>
                                    <li style="padding-top: 12px;"><a href="">Product Category</a></li>
                                    <li style="padding-top: 12px;"><a href="">Single Category</a></li>
                                </ul>
                            </li>
                            <li class='has-submenu'>
                                Shop Layouts
                                <ul class="submenu11">
                                    <li style="padding-top: 12px;"><a href="">Two Column Grid</a></li>
                                    <li style="padding-top: 12px;"><a href="">Tree Column Grid</a></li>
                                    <li style="padding-top: 12px;"><a href="">Four Column Grid</a></li>
                                    <li style="padding-top: 12px;"><a href="">Four Column Wide</a></li>
                                    <li style="padding-top: 12px;"><a href="">Five Column Wide</a></li>
                                    <li style="padding-top: 12px;"><a href="">Six Column Wide</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="prett" href="#">Portfolio</a>
                        <ul class="menus">
                            <li><a href="">Standart</a></li>
                            <li style="padding-top: 12px;"><a href="">Gallery</a></li>
                            <li style="padding-top: 12px;"><a href="">Masonry</a></li>
                            <li class='has-submenu' style="padding-top: 12px;">
                                <a href="Portfolio">Portfolio <i style="padding-left: 49px;" class="fas fa-chevron-right asdas"></i>  </a>
                                <ul class="submenu">
                                    <li style="padding-top: 12px;"><a href="">Two Columns</a></li>
                                    <li style="padding-top: 12px;"><a href="">Tree Columns</a></li>
                                    <li style="padding-top: 12px;"><a href="">Four Columns</a></li>
                                    <li style="padding-top: 12px;"><a href="">Four Wide</a></li>
                                    <li style="padding-top: 12px;"><a href="">Five Wide</a></li>
                                </ul>
                            </li>
                            <li class='has-submenu' style="padding-top: 12px; padding-bottom: 20px;">
                                <a href="Single Out">Single Out <i style="padding-left: 35px;" class="fas fa-chevron-right"></i></a>
                                <ul class="submenu3">
                                    <li style="padding-top: 12px;"><a href="">Small Images</a></li>
                                    <li style="padding-top: 12px;"><a href="">Small Slider</a></li>
                                    <li style="padding-top: 12px;"><a href="">Big Images</a></li>
                                    <li style="padding-top: 12px;"><a href="">Big Slider</a></li>
                                    <li style="padding-top: 12px;"><a href="">Gallery</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="prett" href="#">Blog</a>
                        <ul class="menus">
                            <li><a href="">Masonry</a></li>
                            <li style="padding-top: 12px;"><a href="">Standard</a></li>
                            <li class='has-submenu' style="padding-top: 12px; padding-bottom: 20px;">
                                <a href="Post Types">Post Types <i style="padding-left: 35px;" class="fas fa-chevron-right"></i></a>
                                <ul class="submenu2">
                                    <li style="padding-top: 12px;"><a href="">Standard</a></li>
                                    <li style="padding-top: 12px;"><a href="">Gallery</a></li>
                                    <li style="padding-top: 12px;"><a href="">Link</a></li>
                                    <li style="padding-top: 12px;"><a href="">Quote</a></li>
                                    <li style="padding-top: 12px;"><a href="">Audio</a></li>
                                    <li style="padding-top: 12px;"><a href="">Video</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="prett" href="#">Elements</a>
                        <ul class="menus">
                            <li class='has-submenu'>
                                <a href="Classic">Classic <i style="padding-left: 62px;" class="fas fa-chevron-right"></i></a>
                                <ul class="submenu4">
                                    <li style="padding-top: 12px;"><a href="">Accordions</a></li>
                                    <li style="padding-top: 12px;"><a href="">Tabs</a></li>
                                    <li style="padding-top: 12px;"><a href="">Buttons</a></li>
                                    <li style="padding-top: 12px;"><a href="">Video Button</a></li>
                                    <li style="padding-top: 12px;"><a href="">Contact Form</a></li>
                                </ul>
                            </li>
                            <li class='has-submenu' style="padding-top: 12px;">
                                <a href="Infographic">Infographic <i style="padding-left: 29px;" class="fas fa-chevron-right"></i></a>
                                <ul class="submenu5">
                                    <li style="padding-top: 12px;"><a href="">Blog List</a></li>
                                    <li style="padding-top: 12px;"><a href="">Counters</a></li>
                                    <li style="padding-top: 12px;"><a href="">Countdown</a></li>
                                    <li style="padding-top: 12px;"><a href="">Google Maps</a></li>
                                    <li style="padding-top: 12px;"><a href="">Progress Bar</a></li>
                                    <li style="padding-top: 12px;"><a href="">Pie Charts</a></li>
                                </ul>
                            </li>
                            <li class='has-submenu' style="padding-top: 12px;">
                                <a href="Interactive">Interactive <i style="padding-left: 34px;" class="fas fa-chevron-right"></i></a>
                                <ul class="submenu6">
                                    <li style="padding-top: 12px;"><a href="">Image Gallery</a></li>
                                    <li style="padding-top: 12px;"><a href="">Testimonials</a></li>
                                    <li style="padding-top: 12px;"><a href="">Team</a></li>
                                    <li style="padding-top: 12px;"><a href="">Banner</a></li>
                                    <li style="padding-top: 12px;"><a href="">Shop List</a></li>
                                    <li style="padding-top: 12px;"><a href="">Portfolio List</a></li>
                                </ul>
                            </li>
                            <li class='has-submenu' style="padding-top: 12px; padding-bottom: 20px;">
                                <a href="Typography">Typography <i style="padding-left: 27px;" class="fas fa-chevron-right"></i></a>
                                <ul class="submenu7">
                                    <li style="padding-top: 12px;"><a href="">Headings</a></li>
                                    <li style="padding-top: 12px;"><a href="">Columns</a></li>
                                    <li style="padding-top: 12px;"><a href="">Section Titles</a></li>
                                    <li style="padding-top: 12px;"><a href="">Blockquote</a></li>
                                    <li style="padding-top: 12px;"><a href="">Dropcaps</a></li>
                                    <li style="padding-top: 12px;"><a href="">Highlights</a></li>
                                    <li style="padding-top: 12px;"><a href="">Separators</a></li>
                                    <li style="padding-top: 12px;"><a href="">Custom Font</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="icon">
                <a href=""><i class=" cavad fas fa-search" style="font-size:19px"></i></a>
            </div>
            <div class="icon2">
                <a href=""><i class="fas fa-shopping-bag" style="font-size:19px"></i></a>
            </div>
            <div class="cart">
                <a href="#"><p>Cart ($0)</p></a>
            </div>

    </header>
    @RenderBody()
    <section id="footer">
        <div class="container"></div>
        <footer>
            <!-- Footer main -->
            <section class="mainfooter">
                <div class="mainfooter2">
                    <h2 class="footertitle">CUSTOMER SERVICE</h2>
                    <ul>
                        <li><a class="footercontent" href="#">Help & Contact Us</a></li>
                        <li><a class="footercontent" href="#">Returns & Refunds</a></li>
                        <li><a class="footercontent" href="#">Online Stores</a></li>
                        <li><a class="footercontent" href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="footertitle">COMPANY</h2>
                    <ul>
                        <li><a class="footercontent" href="#">About Us</a></li>
                        <li><a class="footercontent" href="#">Blog</a></li>
                        <li><a class="footercontent" href="#">Order Tracking</a></li>
                        <li><a class="footercontent" href="#">FAQ Page</a></li>
                        <li><a class="footercontent" href="#">Contact Us</a></li>
                        <li><a class="footercontent" href="#">Login</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="footertitle">SOCIAL MEDIA</h2>
                    <ul>
                        <li><a class="footercontent" href="#">Twitter</a></li>
                        <li><a class="footercontent" href="#">Instagram</a></li>
                        <li><a class="footercontent" href="#">Tumblr</a></li>
                        <li><a class="footercontent" href="#">Pinterest</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="footertitle">ARCHIVE</h2>
                    <ul>
                        <li><a class="footercontent" href="">Designer Shoes</a></li>
                        <li><a class="footercontent" href="">Gallery</a></li>
                        <li><a class="footercontent" href="">Pricing</a></li>
                        <li><a class="footercontent" href="">Feature Index</a></li>
                        <li><a class="footercontent" href="">Login</a></li>
                        <li><a class="footercontent" href="">Help & Support</a></li>
                    </ul>
                </div>
            </section>

            <!-- Footer social -->
            <section class="ft-social">
                <ul class="ft-social-list">
                </ul>
            </section>

            <!-- Footer legal -->
            <section class="footerend">
                <ul class="ft-legal-list">
                    <li><a href="#">&copy;2018 <span style="color: #000;">Qode Interactive</span>, All Rihts Reserved</a></li>
                    <li><a href=""><img style="margin-left: 350px;" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/footer-bottom-1.png" alt=""></a></li>
                    <li><a href=""><span class="instagram">INSTAGRAM</span> &nbsp; &nbsp; &nbsp; <span class="facebook">FACEBOOK</span></a></li>
            </section>
        </footer>
    </section>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="~/Homepage/slider1/vegas.min.js"></script>
    <script src="~/Homepage/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
