@model IEnumerable<Product>



@foreach (var item in Model)
{
    <div id="tab-1" class="tab-content current">
        <center>
            <div class="cost">
                <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/@item.ImgUrl" alt="" width="290" height="376.13"></div><br>
                <a href=""><p>@item.Name</p></a>
                <a href=""><p style="color: rgb(168, 167, 167);">$@item.Price</p></a> <br> <br>
            </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="cost">
                <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-13-img.jpg" alt="" width="290" height="376.13"></div><br>
                <a href=""><p>Foxglove Flower</p></a>
                <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
            </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="cost">
                <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/shop-10-img.jpg" alt="" width="290" height="376.13"></div><br>
                <a href=""><p>Sweet Alyssum</p></a>
                <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
            </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="cost">
                <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-11-img.jpg" alt="" width="290" height="376.13"></div> <br>
                <a href=""><p>Spring Snowflake</p></a>
                <a href=""><p style="color: rgb(168, 167, 167);">$170</p></a> <br> <br>
            </div> <br>
            <div class="cost">
                <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-12-img.jpg" alt="" width="290" height="376.13"></div> <br>
                <a href=""><p>Scarlet Sage</p> </a>
                <a href=""><p><span class="scarlet">259$</span> $159</p></a>   <br> <br>
            </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="cost">
                <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-9-img.jpg" alt="" width="290" height="376.13"></div><br>
                <a href=""><p>Rock Soapwort</p></a>
                <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
            </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="cost">
                <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-8-img.jpg" alt="" width="290" height="376.13"></div> <br>
                <a href=""><p>Summer Savory</p></a>
                <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
            </div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <div class="cost">
                <div class="image1"><img src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/shop-7-img.jpg" alt="" width="290" height="376.13"></div> <br>
                <a href=""><p>Wild Roses</p></a>
                <a href=""><p style="color: rgb(168, 167, 167);">$259</p></a> <br> <br>
            </div>

        </center>

    </div>
}
<div>
