@model Bio
    <section id="footer">
        <div class="container"></div>
        <footer>
            <!-- Footer main -->
            <section class="mainfooter">
                <div class="mainfooter2">
                    <h2 class="footertitle">CUSTOMER SERVICE</h2>
                    <ul>
                        <li><a class="footercontent" href="#">Help & Contact Us</a></li>
                        <li><a class="footercontent" href="#">Returns & Refunds</a></li>
                        <li><a class="footercontent" href="#">Online Stores</a></li>
                        <li><a class="footercontent" href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="footertitle">COMPANY</h2>
                    <ul>
                        <li><a class="footercontent" href="#">About Us</a></li>
                        <li><a class="footercontent" href="#">Blog</a></li>
                        <li><a class="footercontent" href="#">Order Tracking</a></li>
                        <li><a class="footercontent" href="#">FAQ Page</a></li>
                        <li><a class="footercontent" href="#">Contact Us</a></li>
                        <li><a class="footercontent" href="#">Login</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="footertitle">SOCIAL MEDIA</h2>
                    <ul>
                        <li><a class="footercontent" href="#">Twitter</a></li>
                        <li><a class="footercontent" href="#">Instagram</a></li>
                        <li><a class="footercontent" href="#">Tumblr</a></li>
                        <li><a class="footercontent" href="#">Pinterest</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="footertitle">ARCHIVE</h2>
                    <ul>
                        <li><a class="footercontent" href="">Designer Shoes</a></li>
                        <li><a class="footercontent" href="">Gallery</a></li>
                        <li><a class="footercontent" href="">Pricing</a></li>
                        <li><a class="footercontent" href="">Feature Index</a></li>
                        <li><a class="footercontent" href="">Login</a></li>
                        <li><a class="footercontent" href="">Help & Support</a></li>
                    </ul>
                </div>
            </section>

            <!-- Footer social -->
            <section class="ft-social">
                <ul class="ft-social-list">
                </ul>
            </section>

            <!-- Footer legal -->
            <section class="footerend">
                <ul class="ft-legal-list">
                    <li><a href="#">&copy;2018 <span style="color: #000;">Qode Interactive</span>, All Rihts Reserved</a></li>
                    <li><a href=""><img style="margin-left: 350px;" src="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/footer-bottom-1.png" alt=""></a></li>
                    <li><a href=""><span class="instagram">@Model.Linkedin</span> &nbsp; &nbsp; &nbsp; <span class="facebook">@Model.Facebook</span></a></li>
            </section>
        </footer>
    </section>
